$color-100: #f1f3f8;
$color-200: #d6e0f0;
$color-300: #b1bbd4;
$color-400: #99a2be;
$color-500: #8790ab;
$color-600: #767c93;
$color-700: #393b44;
$color-800: #24252b;
$color-900: #17181c;

$size-100: 1rem;
$size-200: 2rem;
$size-300: 3rem;
$size-400: 4rem;
$size-500: 5rem;
$size-600: 6rem;
$size-700: 7rem;
$size-800: 8rem;

$color-light: #d8dbe0;
$color-dark: #28292c;

$color-success: #40c463;
$color-danger: #dd3545;

$color-commit: #40c463;
