@import '@shared/styles/variables.scss';

.toggle-switch {
  width: 100px;
  position: relative;
  height: 50px;
}

label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: $color-dark;
  border-radius: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: $color-light;
}

.slider::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: inset 14px -2px 0px 0px $color-light;
  background-color: $color-dark;
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(45px);
  background-color: $color-dark;
  box-shadow: none;
}
